.quizzes__filters {
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}
.quizzes__btns {
display: flex;
gap: 30px;
}
.quizzes__input{
width: 31%;
background-color: var(--btn-color-gray);
padding: 10px;
border-radius: 10px;
display: flex;
align-items: center;
}

.quizzes__input input {
background-color: transparent;
width: 100%;
border:none;
margin-left: 10px;
}
.quizzes__select {
width: 20%;
}
.quizzes__list {
display: flex;
flex-direction: column;
gap: 30px;
}
.quizzes__item {
background-color: var(--btn-color-gray);
display: flex;
flex-direction: column;
gap: 10px;
border-radius: 15px;
padding: 30px;
align-items: center;
}

.quizzes__modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: auto;
border-radius: 15px;
outline: none;
padding: 50px;
background: var(--body-color);
}
.quizzes__title-modal {
margin-bottom: 20px;
}
.quizzes__modal-form {
display: flex;
flex-direction: column;
gap: 15px;
align-items: center;
width: 100%;
}
.quizzes__input-form {
width: 100%;
background-color: var(--btn-color-gray);
padding: 10px;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: space-between;

}
.quizzes__input-form input {
background-color: transparent;
width: 100%;
border:none;
margin-left: 10px;
}
.quizzes__input-form textarea {
background-color: transparent;
width: 100%;
border:none;
margin-left: 10px;
}
.quizzes__input-question{
    width: 50%;
}
.quizzes__content {
    display: flex;
    align-items:center;
    width: 100%;
    gap: 20%;
}
.quizzes__img {
    width: 40%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}
.quizzes__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quizzes__desc {
    max-width: 50%;
}
@media screen and (max-width: 390px) {
    .quizzes__filters {
        flex-wrap: wrap;
        gap: 10px;
    }
    .quizzes__input {
        width: 100%;
    }
    .quizzes__select {
        width: 50%;
    }
    .quizzes__content {
        flex-direction: column;
    }
    .quizzes__img {
        width: 100%;
        height: 100px;
    }
    .quizzes__desc {
        text-align: center;
        max-width: 100%;
    }
}