<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Room</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <form id="form">
        <input type="text" name="id"/>
        <input type="text" name="status"/>
    </form>
    <pre id="response"></pre>
<script>
function updatePageContent(data) {
    const responseElement = document.getElementById("response");
    responseElement.textContent = JSON.stringify(data, undefined, 2);
}

let url = `ws://${window.location.host}/ws/socket-server/`
const ws = new WebSocket(url)

ws.onmessage = function (e) {
    const jsonData = JSON.parse(e.data);
    updatePageContent(jsonData);
    console.log(e.data);
}

// Calling the "list" function immediately after establishing a connection
ws.onopen = function () {
    ws.send(JSON.stringify({
        action: "list",
        request_id: new Date().getTime()
    }));
};
</script>
</body>
</html>
