.main {
  margin: 140px 0 140px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__desc {
  max-width: 41%;
}
.main__buttons {
  display: flex;
  margin-bottom: 40px;
  gap: 20px;
}
.main__benefits {
  display: flex;
  justify-content: space-around;
}
.main__benefit {
  text-align: center;
}
.main__benefit-desc {
  color: var(--desc-text-color)
}
.main__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  line-height: 60px;
}
.main__subtitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--desc-text-color);
  margin:40px 0 40px;
  line-height: 36px;
}
.main__btn-gray {
  background: var(--btn-color-gray)
}

.main__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 517px;
  width: 49%;
  gap: 15px;
}

.main__image {
  width: 100%;
  border-radius:10px;
  overflow: hidden;
}
.main__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.main__images-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__images-center {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main__images-right {
  height: 100%;
  display: flex;
  align-items:center
}
.main__image-skull {
  height: 27%;
}
.main__image-figures {
  height: 43%;
}
.main__image-camera {
  height: 25%;
}
.main__image-light {
  height: 21%;
}
.main__image-middle {
  height: 43%;
}
.main__image-woman {
  height: 31%;
}
.main__image-man {
  height: 81%;
}

 
#contactform {
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 500;
  width: 400px;
  margin: 100px auto 100px;
  
}

#contactform input,
#contactform textarea {
  border: 0;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 17px;
  background-color: transparent;
  color: white;
  font-weight: 200;
  border: 1px solid white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: not-allowed;
}

#contactform input::placeholder,
#contactform textarea::placeholder {
  color: white;
  opacity: 0.8;
}

#submit {
  padding: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid white;
  outline-offset: -1px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 200;
  font-family: Futura;
  font-size: 15px;
  position: relative;
}

#submit p {
  margin: 0;
  padding: 0;
}

#update {
  z-index: 2000;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 96%;
  margin: 5px;
  height: 81%;
  position: absolute;
  font-size: 15px;
}

#update p {
  margin: 5;
  padding: 0;
  text-align: center;
}

#btn {
  width: 150px;
  border-radius: 0;
  border: 0;
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 200;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
}
.complaint__btn {
  background-color: transparent;
}

#btn:hover {
  border-color: #00ffff;
  transition: 0.5s;
}

#rectwrap {
  position: absolute;
}

.siz {
  font-size: 30px;
}

h1 {
  font-weight: 200;
  font-size: 25px;
  text-align: center;
}

@media screen and (max-width: 390px) {
  .main {
    margin: 30px 0 30px;
  }
  .container {
    max-width: 330px;
  }
  .main__wrapper {
    display: block;
  }
  .main__desc {
    max-width: 100%;
  }
  .main__images {
    width: 100%;
  }
}