.rooms_filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.rooms__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.rooms__btns {
    display: flex;
    gap: 30px;
}
.rooms__input{
    width: 31%;
    background-color: var(--btn-color-gray);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.rooms__input input {
background-color: transparent;
width: 100%;
border:none;
margin-left: 10px;
}
